.DS_Store
.vscode
.nova

.nyc_output

lib
node_modules
.rpt2_cache
yarn-error.log
testFiles/local
testFiles/*.js
src/parser/grammar.ts
coverage

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
